cffi==1.15.1
gym==0.26.2
kivy==2.1.0
matplotlib==3.5.3
numpy==1.23.2
opencv_python==4.6.0.66
optuna==3.0.4
pandas==1.5.2
py2exe==0.13.0.0
pygame==2.1.2
pyglet==2.0.1
pymunk==6.2.1
stable_baselines3==1.6.2
tensorflow==2.11.0
tensorflow_intel==2.11.0
timm==0.6.12
torch==1.12.1
tqdm==4.64.1
transformers==4.25.1
wandb==0.13.7
